h1 {
	text-align: center;
  }
  td {
	width: 100px;
	height: 100px;
  }
  table {
	border-collapse:collapse;
	margin: 5px auto;
  }
  .vert {
	border-left: 2px solid black;
	border-right: 2px solid black;
  }
  .hori {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
  }